<launch>
  <arg name="access_frequency" default="10.0" />
  <arg name="chip_name" default="gpiochip0" />
  <arg name="din_value_inverse" default="false" />
  <arg name="dout_value_inverse" default="false" />
  <arg name="dout_default_value" default="false" />

  <group ns="dio">
    <rosparam file="$(find dio_ros_driver)/config/port_list.yaml" />
    <node name="dio_ros_driver" type="dio_ros_driver_node" pkg="dio_ros_driver">
      <param name="access_frequency" type="double" value="$(arg access_frequency)" />
      <param name="chip_name" type="string" value="$(arg chip_name)" />
      <param name="din_value_inverse" type="bool" value="$(arg din_value_inverse)" />
      <param name="dout_value_inverse" type="bool" value="$(arg dout_value_inverse)" />
      <param name="dout_default_value" type="bool" value="$(arg dout_default_value)" />
    </node>
  </group>
</launch>